* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    justify-content: center;
    align-items: center;
}
.box{
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.search {
  display: flex;
}

#input {
  width: 250px;
  height: 35px;
  padding: 0 10px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ccc;
}

#btn {
  padding: 0 15px;
  height: 35px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #ccc;
  border-left: none;
  cursor: pointer;
}
